<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>javascripts</title>
</head>
<body>
<script type="text/javascript">
    function sayHello(){
        alert("Hello");
     }
    /*
    *javascript注释
    *
     */
    var sum = a + b ;
    var diff = a - b ;
    var message = "hi",
            age = 22,
            found = false;
    if(i>25){
        alert("Greater than 25");
    }else if (i<0){
        alert("less than 0");
    } else {
        alert("between 0 and 25");
    }
    var i = 0;
    do {
        i=+2;
    }while(i<10);
    alert(i)
    var i = 0;
    while(i<10){
        i=+2;
    }
    var count = 10;
    for (var i = 0;i<count;i++){
        alert(i);
    }
    function sayHi(name,message){
        alert("hello" + name + "," + message);
    }
</script>
</body>
</html>